<!DOCTYPE html>
<html>
<head>
	<title>Prognosis Pro</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<h1>Prognosis Pro</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/predict">Predict</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Welcome to Prognosis Pro</h2>
		<p>Prognosis Pro is a disease prediction model that uses machine learning techniques to analyze and predict the likelihood of various diseases based on genetic markers, lifestyle factors, and environmental variables. This could aid in early diagnosis and preventive healthcare.</p>
		<p>To get started, click the "Predict" link in the navigation menu above.</p>
	</main>
</body>
</html>
